* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  height: 300px;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}


.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.column {
  float: left;
  width: 100%;
  padding: 30px;
}

.tit{
  float: left;
  width: 80%;
  padding: 50 px;
}

.form_log{
  float: right;
  width: 20%;
  padding: 50 px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="email"],
.form input[type="number"],
.form input[type="password"],
.form input[type="time"],
.form input[type="url"],
.form textarea,
.form select
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100 px;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 2%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form input[type="submit"],
.form input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
}

.form input[type="submit"]:hover,
.form input[type="button"]:hover{
	background: #2EBC99;
}

.form label{
	display: block;
	font: 13px Arial, Helvetica, sans-serif;
	color: #888;
	margin-bottom: 15px;
}

.form2 {
	margin:10px auto;
	max-width: 500px;
	padding: 20px 12px 10px 20px;
	font: 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form2 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form2 label{
	margin:10px 10px 15px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form2 input[type=text],
.form2 input[type=date],
.form2 input[type=datetime],
.form2 input[type=number],
.form2 input[type=search],
.form2 input[type=time],
.form2 input[type=url],
.form2 input[type=password],
textarea,
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	width:80%;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form2 .field-divided{
	width: 49%;
}

.form2 .field-long{
	width: 100%;
}
.form2 .field-select{
	width: 100%;
}
.form2 .field-textarea{
	height: 100px;
}
.form2 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form2 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form2 .required{
	color:red;
}