{% extends "app/base_html.html" %}

{% block script_head %}
        function sub(){
            if(document.getElementById("password").value == ""){
                document.getElementById("warn").innerHTML="Wypełnij wszystkie pola";
                return false;
            }
            if(document.getElementById("password1").value != document.getElementById("password2").value){
                document.getElementById("warn").innerHTML="Hasła nie pasują do siebie";
                return false;
            }
            document.getElementById("form_reg").submit();
            return true;
        }
{% endblock %}

{% block base_content %}

<form name="register" method="POST" class="form2" if="form_register" id="form_reg">
    {% csrf_token %}
    <h2>Zmień hasło</h2>
    {% if changed %}
        <br>
        Hasło zmieniono pomyślnie!
        <br>
    {% endif %}
    {% if old_password_wrong %}
        Stare hasło jest niepoprawne!
    {% endif %}
    {% if wrong_data %}
        Podane dane są niepoprawne!
    {% endif %}
    <label>Stare Hasło</label>
    <input type="password" name="old_password" id="password">
    <label>Nowe Hasło</label>
    <input type="password" name="new_password" id="password1">
    <label>Powtórz nowe hasło</label>
    <input type="password" name="new_password" id="password2">
    <br>
    <br>
    <input type="button" value="Zmień hasło" onclick="sub()">
    <br><br>
    <div id="warn" style="color:red"></div>
</form>

{% endblock %}
