{% extends "app/base_html.html" %}

{% block script_head %}
    var obj;

    var current_i=-1;
    var current_j=0;

    var names = [{% for name in names %} '{{name}}', {% endfor %}];
    var sums = [{% for sum in sums %} '{{sum}}', {% endfor %}];
    var marks = [{% for mark in marks %} '{{mark}}', {% endfor %}];
    var players = new Array();
    var marks_int = [{% for mark in marks %} '{{mark}}', {% endfor %}];
    var problems={{ number_of_problems_value }};

    var xhttp = new XMLHttpRequest();

    function player(name, marks, sum){
        this.name = name;
        this.marks = marks;
        this.sum = sum;
    }

    function players_sum_comparer(a, b){
        return (b.sum - a.sum);
    }

    xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
          obj = JSON.parse(this.responseText)
          names = obj['names']
          marks = obj['marks']
          for(var it=0; it<marks.length; it++){
            switch (marks[it]){
                case '0':
                    marks_int[it]=0;
                    break;
                case '2':
                    marks_int[it]=2;
                    break;
                case '5':
                    marks_int[it]=5;
                    break;
                case '6':
                    marks_int[it]=6;
                    break;
                case '-':
                    marks_int[it]=0;
                    break;
                case '?':
                    marks_int[it]=0;
                    break;
            }
          }
          gen_table();
       }
    };


    function refresh(){
        xhttp.open("GET", "update_check", true);
        xhttp.send();
    }


    function gen_table(){
        players.sort(players_sum_comparer);
        output="<table> <tr>  <th> Miejsce </th> <th> Login </th>";
        for(var j = 0; j < problems; j++){
            output+="<th> Zadanie " + (j+1) +"  ";
        }
        output += "<th> Suma </th>"
        output += "</tr>";

        var previous_place = 1;
        var previous_players_on_place = 0;
        var previous_sum = problems*10;
        for(var i = 0; i < names.length; i++){
            output+="<tr>"
            if(players[i].sum == previous_sum){
                output+="<th>" + previous_place + "</th>";
                previous_players_on_place++;
            }
            else{
                output+="<th>" + (previous_place + previous_players_on_place) + "</th>";
                previous_players_on_place = 1;
            }
            previous_sum = players[i].sum;

            output+="<th>" + players[i].name + "</th>";
            for(var j = 0; j < problems; j++){
                output += "<th>";
                output += players[i].marks[j];
                output += "</th>";
            }
            output+='<td> ' + players[i].sum + ' </td>';
            output+="</tr>"
        }
        output = output + "</table>"

        document.getElementById("table").innerHTML=output;
        if(current_i==-1){
            return;
        }
        document.getElementById(current_i+','+current_j).style = "background-color: blue";

    }


    function load(){
        for(var i = 0; i<names.length; i++){
            var new_player = new player(names[i], marks.slice(i*problems, (i+1)*problems), sums[i])
            players.push(new_player);
        }
         gen_table();
    }

{% endblock %}

{% block base_content %}
        <br><br>
        <div id="table" style="width: 800px; float: left; margin: 0 60px 0 0">

        </div>
        <div style="width: 200 px, display: block">

        </div>
      <div id="solutions">

      </div>
{% endblock %}

{% block after_content %}
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="change">

    </p>
  </div>


</div>

<script>
    load();
    setInterval(refresh, 15000);
</script>

{% endblock %}
