{% extends "app/base_html.html" %}
{% load static %}
{% block head %}
<script src="static/app/clock.js"></script>
{% endblock %}
{% block script_head %}
function remove(filename){
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById(filename).innerHTML="";
            }
          };
          xhttp.open("GET", "remove?file="+filename, true);
          xhttp.send();
        }
{% endblock %}
{% block base_content %}
<center>
<h3>Zadania</h3>
      {% if contest_in_progress %}
      Do zakończenia konkursu pozostało:
      <br>
      <div id="clock"></div>
      <script>
      timer_start({{ contest_end_date }});
      </script>
      <br><br>


      <div style="width:300px">
        <form class="form">
                <a href="problems">
                <input style="float:left" type="button" value="Pobierz zadania (PDF)">
                </a>
        </form>
      </div>

      {% elif contest_finished %}

      <div style="width:300px">
        <form class="form">
                <a href="problems">
                <input style="float:left" type="button" value="Pobierz zadania (PDF)">
                </a>
        </form>
          <br><br><br>
          <h3>Konkurs zakończył się. <br> Dziękujemy za wzięcie udziału.</h3>

          <h2>Twoje rozwiązania</h2>
          {% for file in files%}
          <div id="{{ file }}">
              <a href="user_file?file={{ file }}">{{ file }} </a>
          <br><br>

          {%endfor%}

          {% if mark_view and contest_finished and logged %}
            <h2>Twoje oceny</h2>
              <table>
              {% for problem, mark in usermarks %}
                  <tr>
                      <th>Zadanie {{ problem }}</th>

                      <th> {{mark}} </th>
                </tr>
              {% endfor %}
                  </table>
              <br>
              <h4> {{ marks_adnotation }} </h4>
          {% endif %}
      </div>
      {% else %}
      Do rozpoczęcia konkursu pozostało:

      <div id="clock"></div>
    <script>
      timer_start({{ contest_start_date }});
      </script>
      {%endif%}


      {% if contest_in_progress %}
      <br><br>
      <h3> Wysyłanie rozwiązań: </h3>
        Aktualnie dodane pliki:
          <br><br>
          {% for file in files%}
          <div id="{{ file }}">
              <a href="user_file?file={{ file }}">{{ file }} </a>
          <input type="button" value="usuń" onclick="remove('{{ file }}')">
          <br><br>
          </div>
          {%endfor%}

        <div style="width:300px">
          <form name="send_solutions" class="form" enctype="multipart/form-data" method="POST">
              {% csrf_token %}
              <input type="hidden" name="send_files" value="True">
              <br><br>
              <input type="file" name="file" multiple="true" accept="image/*" />
              <br><br>
              <input type="submit" value="Wyślij rozwiązania">
              <br><br>
                {% if big %}
                Łączny rozmiar twoich plików przekroczył 25 MB!
              {% endif %}
              <br><br>
              Uwaga! Rozmiar twoich plików nie może przekroczyć łącznie 25 MB.
          </form>
        </div>

      {%endif%}
      </center>
{% endblock %}
{% block after_content %} {% endblock %}




      <center>

  </div>
</div>

</body>
</html>
